@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*VARIABLES CSS*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
  --hue-color: 224;
  --first-color: hsl(var(--hue-color), 89%, 60%);

  /* Font and typography */
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
  /* Margins */
  --mb-2: 1rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  /* z-index */
  --z-back: -10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .875rem;
  }
}

/* Base Styles */
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 10px 0 24px;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-image: linear-gradient(rgb(143, 149, 194),rgb(204, 204, 224),rgb(161, 140, 183));
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Class Styles */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: '';
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.section {
  padding-top: 4rem;
  padding-bottom: 3rem;
}
.section-title {
  margin-bottom: var(--mb-6);
}
.section-title::after {
  width: 80px;
  top: 3rem;
}

/* Layout Styles */
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.bd-grid {
  margin-left: auto;
  margin-right: auto;
}


.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-image: linear-gradient(to right,rgb(188, 195, 219), rgb(214, 214, 232),rgb(178, 192, 224));
  box-shadow: 0 1px 4px rgba(205, 212, 219, 0.15);
}

/* Navigation Styles */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: .5s;
  }
}

.nav__item {
  margin-bottom: var(--mb-4);
}

.nav__link {
  position: relative;
  color: #fff;
}

.nav__link:hover {
  position: relative;
}

.nav__link:hover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav__logo {
  color: rgb(32, 30, 30);
  font-size: 24px;
}

.nav__toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}


.nav {
  height: calc(var(--header-height) + 1.5rem);
}
.nav__list {
  display: flex;
  padding-top: 0;
}
.nav__item {
  margin-left: var(--mb-6);
  margin-bottom: 0;
}
.nav__toggle {
  display: none;
}
.nav__link {
  color: var(--second-color);
}

.active::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.show {
  right: 0;
}

/* Home Styles */
.home {

  position: relative;
  row-gap: 5rem;
  padding: 3rem 0 5rem;
  padding-left: 50px;
}
.home {
  row-gap: 2rem;
}
.home__data{
  padding-top: 80px;
}
.home {
  padding: 4rem 0 2rem;
  padding: 10rem 0 2rem;
  padding: 9rem 0 2rem;
}

.me__data {
  align-self: center;
}

.home__title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
color: rgb(23, 22, 22);
}
.home__title-color{
  color: rgb(136, 35, 35);
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-bottom: 30px;
  width: 450px;
  height: 500px; /* Set the height to 200px */
}

.home__img img {
  width: 100%;
  height: 100%;
  border-radius: 50px; /* Adjust the border radius as needed */
}


.home__blob {
  fill: var(--first-color);
}

.home__blob-img {
  width: 360px;
}
.homeimg__container {
  display: flex;
  justify-content: left;
  align-items: center;
}
.homeimg__container a {
  text-decoration: none;
  margin: 0 10px;
  transition: transform 0.2s, opacity 0.2s;
}
.homeimg__container a img {
  width: 50px;
  height: 50px;
  border-radius: 700%;
}
.homeimg__container a:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
.homeimg__container a {
  text-decoration: none;
  margin: 0 5px;
  transition: transform 0.2s, opacity 0.2s;
}

.button {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: .75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: .5rem;
  transition: .3s;
}


/* About Styles */


.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}

.about__container > div {
  max-width: 500px; /* Adjust the max-width as needed */
}

.about__subtitle {
  margin-bottom: var(--mb-2);
}

.about__img img{
  justify-self: center;
 border-radius: 30px;
 
}

.about__img {
  height:500px;
  width:400px;
  padding-right: 50px;
  padding-right: 50px;
}

/* Skills Styles */
.skills__container {
  row-gap: 2rem;
  column-gap: 3rem;
  grid-template-columns: 0.7fr;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  text-align: center;
  text-align: initial;
  justify-content: center;
}

.skills__subtitle {
  margin-bottom: var(--mb-2);
}

.skills__text {
  margin-bottom: var(--mb-4);
}

.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}


.skills__names {
  display: flex;
  align-items: center;
}

.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}

.skills__html {
  width: 95%;
}

.skills__css {
  width: 85%;
}

.skills__js {
  width: 70%;
}

.skills__py {
  width: 70%;
}

.skills__ml {
  width: 60%;
}

.skills__ve {
  width: 80%;
}

.skills__ps {
  width: 85%;
}

/*project*/
.Project__container {
  row-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  padding-top: 2rem;
}

.Project__container {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
}
.Project__img {
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}

.Project__img img {
  transition: 1s;
}

.Project__img:hover img {
  transform: scale(1.1);
}

.Projectimg__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 150px;
}
.Projectimg__container img {
  border-radius: 20%;
}

/*CONTACT*/
.contact__input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}
.contact__container {
  justify-items: center;
}
.contactimg__container {
  display: flex;
  justify-content: center;
}
.contactimg__container {
  padding-right: 50px;
  display: flex;
  align-items: center;
}
.contactimg__container a {
  text-decoration: none;
  margin: 0 10px;
  transition: transform 0.2s, opacity 0.2s;
}
.contactimg__container img {
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 50%;
}
.contactimg__container a img {
  width: 50px;
  height: 50px;
  alt: "Contact Icon";
}

.contactimg__container a:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.contact__form {
  width: 360px;
  padding-top: 2rem;
}

/*FOOTER*/
.footer {
  background-color: rgb(6, 2, 12);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}


 






